{% load staticfiles %}
<!-- HEAD BEGIN -->
<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>Интернет магазин</title>
    <link rel="stylesheet" type="text/css" href="{% static "static/bootstrap-3.3.2-dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css"  href="{% static "static/style.css" %}">
    
</head>
<body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Фильмы</a></li>
          <li><a href="/animation/">Анимация</a></li>
          <li><a href="/about/">О сайте</a></li>
        </ul>
        <h3 class="text-muted">Кино на диване</h3>
      </div>
      <div class="jumbotron"> 
          <script language="JavaScript">
            <!--
            var a = Math.round(Math.random() * 2);
            image = [];
            image[0] = '{% static "static/image/1.jpg" %}';
            image[1] = '{% static "static/image/2.jpg" %}';
            image[2] = '{% static "static/image/3.jpg" %}';
            document.write ('<img src='+image[a]+' onMouseOver="this.src=\'{% static "static/image/4.jpg" %}\'" onMouseOut="this.src=\''+image[a]+'\'">');
            //-->
            </script>
          <h1 class="pull-right"><a href="/">Добро пожаловать</a></h1>
      </div>
<!-- HEAD END -->

      <div class="row marketing">
        <div class="col-md-9 col-md-push-2">

            {% block film %}{% endblock %}

        </div>
      </div>

<!-- FOOTER HERE -->
      <div id="footer">
          <div class="container">
            <p class="text-muted">&copy; Магазин by Дульцев Евгений</p>
          </div>
      </div>
    </div> <!-- /container -->  
</body>
<!-- FOOTER END -->